<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div>
					<img class="logo" src="img/sch-logos/dhspng.png" alt="">
					<img class="logo" src="img/sch-logos/hcipng.png" alt="">
					<img class="logo" src="img/sch-logos/ijcpng1.png" alt="">
					<img class="logo" src="img/sch-logos/jjcpng.png" alt="">
					<img class="logo" src="img/sch-logos/njcpng.png" alt="">
					<br>
					<img class="logo" src="img/sch-logos/RGB_NYP.png" alt="">
					<img class="logo" src="img/sch-logos/nuspng.png" alt="">
					<img class="logo" src="img/sch-logos/pjcpng.png" alt="">
					<img class="logo" src="img/sch-logos/ripng.png" alt="">
					<img class="logo" src="img/sch-logos/rvhspng.png" alt="">
					<img class="logo" src="img/sch-logos/anglojc.png" alt="">
				</div>

				<div>
					<img class="logo" src="img/sponser-logos/google.png" alt="">
					<img class="logo" src="img/sponser-logos/moe.png" alt="">
					<img class="logo" src="img/sponser-logos/imda.png" alt="">
				</div>
			</div>
		</div>
	</div>
</footer>
